<h1>Editing csv upload</h1>

<%= render "form", csv_upload: @csv_upload %>

<br>

<div>
  <%= link_to "Show this csv upload", @csv_upload %> |
  <%= link_to "CSV Uploads", csv_uploads_path, { class: 'govuk-back-link' } %>
</div>
