<% content_for :page_title do %>
  Sign up - <%= t('page_title') %>
<% end %>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-l">
      Sign up
    </h1>

    
    <p class="govuk-body govuk-!-margin-top-8">
      Sign up is restricted for now.
    </p>

  </div>
</div>