
<h1 class="govuk-heading-xl">Home page</h1>
<% if user_signed_in? %> 
 <p> Welcome <%= current_user.email %> </p> 
  <%= button_to "Sign out", destroy_user_session_path, method: :delete %> 
<% else %>
  <%= button_to "Sign in", new_user_session_path %> 
<% end %>

